.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.item {
  text-align: center;
  font-size: 30px;
}

.modalWindow {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modalWindow:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modalWindow > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modalWindow header {
  font-weight: bold;
}
.modalWindow h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modalClose {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modalClose:hover {
  color: black;
}

.modalWindow > div {
  border-radius: 1rem;
}

.modalWindow div:not(:last-of-type) {
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
  display: block;
}

small {
  color: lightgray;
}

@media (max-width: 992px) {
  .container {
    grid-template-columns: auto;
  }
}